@charset "ISO-8859-1";

	.form-area {
		margin-top: 20px;
	}
	
	body {
		background: url("../img/background5.jpg") no-repeat center center fixed;
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    -o-background-size: cover;
	    background-size: cover;
	}
	
	label {
		color: white !important;
	}
	
	.ui.radio.checkbox > label {
		color: black !important;
	}
	
	i.large.icon, i.large.icons {
		line-height: 0.6 !important;
	}
	
	.ui.definition.table tr td.definition, .ui.definition.table tr td:first-child:not(.ignored) {
		background: #fbb246 !important;
		color: white !important;
	}
	
	.ui.horizontal.divider.header {
		color: white !important;
	}
	
	.ui.modal > .actions {
		text-align: center !important;
	}
	
	.ui.modal > .content {
		background-color: #1b1c1d !important
	}